<main class="container middle__section">
    <ul class="movies__list">
      <li class="movie">
        <img class="movie__image" src="https://via.placeholder.com/150" alt="Movie poster" />
        <div class="movie__textbox">
          <h3 class="movie__title">Movie Title</h3>
          <div class="movie__subtitle">Placeholder</div>
        </div>
      </li>
      <li class="movie">
        <img class="movie__image" src="https://via.placeholder.com/150" alt="Movie poster" />
        <div class="movie__textbox">
          <h3 class="movie__title">Movie Title</h3>
          <div class="movie__subtitle">Placeholder</div>
        </div>
      </li>
      <li class="movie">
        <img class="movie__image" src="https://via.placeholder.com/150" alt="Movie poster" />
        <div class="movie__textbox">
          <h3 class="movie__title">Movie Title</h3>
          <div class="movie__subtitle">Placeholder</div>
        </div>
      </li>
      <li class="movie">
        <img class="movie__image" src="https://via.placeholder.com/150" alt="Movie poster" />
        <div class="movie__textbox">
          <h3 class="movie__title">Movie Title</h3>
          <div class="movie__subtitle">Placeholder</div>
        </div>
      </li>
      <li class="movie">
        <img class="movie__image" src="https://via.placeholder.com/150" alt="Movie poster" />
        <div class="movie__textbox">
          <h3 class="movie__title">Movie Title</h3>
          <div class="movie__subtitle">Placeholder</div>
        </div>
      </li>
      <li class="movie">
        <img class="movie__image" src="https://via.placeholder.com/150" alt="Movie poster" />
        <div class="movie__textbox">
          <h3 class="movie__title">Movie Title</h3>
          <div class="movie__subtitle">Placeholder</div>
        </div>
      </li>
      <li class="movie">
        <img class="movie__image" src="https://via.placeholder.com/150" alt="Movie poster" />
        <div class="movie__textbox">
          <h3 class="movie__title">Movie Title</h3>
          <div class="movie__subtitle">Placeholder</div>
        </div>
      </li>
      <li class="movie">
        <img class="movie__image" src="https://via.placeholder.com/150" alt="Movie poster" />
        <div class="movie__textbox">
          <h3 class="movie__title">Movie Title</h3>
          <div class="movie__subtitle">Placeholder</div>
        </div>
      </li>
    </ul>
  </div>
</main>
