<footer class="footer" id="footer">
  <div class="container footer__main">
    <div class="footer__firstRow">
      <p class="footer__text">© 2020 | All rights reserved |</p>
    </div>
    <div class="footer__secondRow">
      <p class="footer__text">Developed with</p>
      <img class="footer__heart" src="./images/heart.svg" alt="heart" />
      <p class="footer__text footer__text--modified">by</p>
      <p class="footer__text footer__text--link">GoIT students</p>
    </div>
  </div>
</footer>
