<header class="header" id="header">
    <div class=" header__home">
        <div class="container">
            <div class="header__nav">
                <a class="header__logo" href="./index.html">
                    <img class="header__logo--svg" src="./images/film.svg" alt="Icon film"><h1 class="header__logo--title">Filmoteka</h1>
                </a>
                <nav class="navigation">
                    <ul class="navigation__list">
                        <li class="navigation__item">
                            <a class="navigation__item--link navigation__item--relative" href="./index.html">home</a>
                        </li>
                        <li class="navigation__item additional-padding">
                            <a class="navigation__item--link" href="#">my library</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <form class="form__search" id="form__search">
                <div class="search-wrapper">
                    <input class="form__search--input" type="text" name="search" placeholder="Movie search"
                        autocomplete="off">
                </div>
                <button class="form__btn">
                    <img class="form__btn--icon" src="./images/search.svg" alt="Icon search">
                </button>
            </form>
        </div>
    </div>
</header>