<header class="header" id="header">
    <div id="headerHome" class="header-library">
        <div class="container">
            <div id="headerNav" class="header__nav">
                <a class="header__logo" href="./index.html">
                    <img class="header__logo--svg" src="./images/film.svg" alt="Icon film" /><h1 class="header__logo--title">Filmoteka</h1>
                </a>
                <nav class="navigation">
                    <ul class="navigation__list">
                        <li class="navigation__item">
                            <a id="navHome" class="navigation__item--link" href="./index.html">home</a>
                        </li>
                        <li class="navigation__item additional-padding">
                            <a id="navMyLibrary" class="navigation__item--link
                            navigation__item--current" href="./my-library.html">my
                                library</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <ul class="btn-library">
                <li class="btn-library__item">
                    <button id="btnWatched" class="btn-library__button btn-current-active">
                        watched
                    </button>
                </li>
                <li class="btn-library__item btn-library__button--space">
                    <button id="btnQueue" class="btn-library__button
                    btn-current-inactive">queue</button>
                </li>
            </ul>
        </div>
        </form>
    </div>
    </div>
</header>