<div class="container modal">
  <img class="modal__image" src="https://via.placeholder.com/150" alt="Modal poster" />
  <div class="modal__textbox">
    <h2 class="modal__header">a fistful of lead</h2>
    <div class="modal__features">
      <div class="modal__features--keys">
        <p>Vote / Votes</p>
        <p>Popularity</p>
        <p>Original Title</p>
        <p>Genre</p>
      </div>
      <div class="modal__features--values">
        <p><span>7.3</span> / 1260</p>
        <p>100.2</p>
        <p>a fistful of lead</p>
        <p>Western</p>
      </div>
    </div>
    <div class="modal__description-container">
      <h3 class="modal__description-heading">about</h3>
      <p class="modal__description-text">
        Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the
        most corrupt settlement of the gold rush towns. But not all goes to plan one is killed and
        the other three escapes with bags of gold hide out in the abandoned gold mine where they
        happen across another gang of three – who themselves were planning to hit the very same
        bank! As tensions rise, things go from bad to worse as they realise the bags of gold are
        filled with lead... they’ve been double crossed – but by who and how?
      </p>
    </div>
  </div>
</div>
