<div id="modalTeam" class="modalTeam">

    <div class="modalTeam__content">
        <span class="close">&times;</span>
        <h2 class="modalTeam__header">Skład zespołu</h2>
        <ul class="modalTeam__list">
            <li class="modalTeam__item">
                <h3 class="modalTeam__item--header">team leader</h3>
                <p class="modalTeam__item--title">Vincent Słomiński</p>
                <img class="modalTeam__item--img" src="./images/Vincent.jpeg">
                <ul class="social">
                    <li class="social__item">
                        <img class="social__icon" src="./images/brand-linkedin.png" alt="Icon LinkedIn">
                        <a class="social__link" href="https://www.linkedin.com/in/vincent-slominski/"
                            target="_blank">LinkedIn</a>
                    </li>
                    <li class="social__item">
                        <img class="social__icon" src="./images/brand-github.png" alt="Icon GitHub">
                        <a class="social__link" href="https://github.com/Okazaki92" target="_blank">GitHub</a>
                    </li>
                </ul>
            </li>
            <li class="modalTeam__item">
                <h3 class="modalTeam__item--header">scrum master</h3>
                <p class="modalTeam__item--title">Piotr Baraniak</p>
                <img class="modalTeam__item--img" src="./images/cat-8031947_640.jpg">
                <ul class="social">
                    <li class="social__item">
                        <img class="social__icon" src="./images/brand-linkedin.png" alt="">
                        <a>LinkedIn</a>
                    </li>
                    <li class="social__item">
                        <img class="social__icon" src="./images/brand-github.png" alt="">
                        <a>GitHub</a>
                    </li>
                </ul>
            </li>
            <li class="modalTeam__item">
                <h3 class="modalTeam__item--header">developer</h3>
                <p class="modalTeam__item--title">Sylwia Stachera</p>
                <img class="modalTeam__item--img" src="./images/Sylwia.jpg">
                <ul class="social">
                    <li class="social__item">
                        <img class="social__icon" src="./images/brand-linkedin.png" alt="Icon LinkedIn">
                        <a class="social__link" href="https://www.linkedin.com/in/sylwia-stachera"
                            target="_blank">LinkedIn</a>
                    </li>
                    <li class="social__item">
                        <img class="social__icon" src="./images/brand-github.png" alt="Icon GitHub">
                        <a class="social__link" href="https://github.com/SylviaStachera" target="_blank">GitHub</a>
                    </li>
                </ul>
            </li>
            <li class="modalTeam__item">
                <h3 class="modalTeam__item--header">developer</h3>
                <p class="modalTeam__item--title">Szymon Śleboda</p>
                <img class="modalTeam__item--img" src="./images/cat-8031947_640.jpg">
                <ul class="social">
                    <li class="social__item">
                        <img class="social__icon" src="./images/brand-linkedin.png" alt="">
                        <a>LinkedIn</a>
                    </li>
                    <li class="social__item">
                        <img class="social__icon" src="./images/brand-github.png" alt="">
                        <a>GitHub</a>
                    </li>
                </ul>
            </li>
            <li class="modalTeam__item">
                <h3 class="modalTeam__item--header">developer</h3>
                <p class="modalTeam__item--title">Szymon Śliwa</p>
                <img class="modalTeam__item--img" src="./images/cat-8031947_640.jpg">
                <ul class="social">
                    <li class="social__item">
                        <img class="social__icon" src="./images/brand-linkedin.png" alt="">
                        <a>LinkedIn</a>
                    </li>
                    <li class="social__item">
                        <img class="social__icon" src="./images/brand-github.png" alt="">
                        <a>GitHub</a>
                    </li>
                </ul>
            </li>
            <li class="modalTeam__item">
                <h3 class="modalTeam__item--header">developer</h3>
                <p class="modalTeam__item--title">Wiktor Kozłowski</p>
                <img class="modalTeam__item--img" src="./images/cat-8031947_640.jpg">
                <ul class="social">
                    <li class="social__item">
                        <img class="social__icon" src="./images/brand-linkedin.png" alt="">
                        <a>LinkedIn</a>
                    </li>
                    <li class="social__item">
                        <img class="social__icon" src="./images/brand-github.png" alt="">
                        <a>GitHub</a>
                    </li>
                </ul>
            </li>
            <li class="modalTeam__item">
                <h3 class="modalTeam__item--header">developer</h3>
                <p class="modalTeam__item--title">Wojciech Jaworski</p>
                <img class="modalTeam__item--img" src="./images/cat-8031947_640.jpg">
                <ul class="social">
                    <li class="social__item">
                        <img class="social__icon" src="./images/brand-linkedin.png" alt="">
                        <a>LinkedIn</a>
                    </li>
                    <li class="social__item">
                        <img class="social__icon" src="./images/brand-github.png" alt="">
                        <a>GitHub</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>