//img-background
.header__home {
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),
    url(../images/header-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-y: 100%;
  padding-top: 40px;
  padding-bottom: 92px;

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),
      url(../images/header-tablet.jpg);
    background-position: center;
    padding-bottom: 80px;
  }

  @media screen and (min-width: 1280px) {
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),
      url(../images/header-desktop.jpg);
  }
}

//=================logo + navigation=================
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 54px;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.heder__logo {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
}
.header__logo--svg {
  display: inline-block;
  height: 24px;
  width: 24px;
  text-decoration: none;
  animation-name: rotate;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  @keyframes rotate {
    from {
      transform: rotatey(0deg);
    }
    to {
      transform: rotatey(360deg);
    }
  }
}

.header__logo--title {
  display: none;

  @media screen and (min-width: 768px) {
    display: inline-block;
    padding-left: 8px;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: var(--text-white);
  }
}

.navigation__list {
  list-style: none;
  display: flex;
}

.navigation__item--link {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: var(--text-white);
}

.navigation__item--current::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: -5%;
  background-color: var(--underline);
  height: 3px;
  width: 110%;
}

.additional-padding {
  padding-left: 40px;
}
//=================form=================
.form__search {
  position: relative;
  display: flex;
  justify-content: center;
}

//uderline input
.search-wrapper {
  border-bottom: 0.5px solid var(--text-white);
  position: relative;
  display: flex;
}

.form__search--input {
  padding-right: 40px;
  width: 280px;
  color: var(--text-white);
  background-color: initial;
  border: none;
  padding-bottom: 4px;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    width: 336px;
  }

  @media screen and (min-width: 1280px) {
    width: 394px;
  }

  &::placeholder {
    color: var(--text-white);
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 16px;
  }

  &:focus-visible {
    outline: 0;
  }
}

.form__btn {
  position: absolute;
  border: none;
  bottom: 2px;
  right: 30%;
  background-color: initial;
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);

  @media screen and (min-width: 768px) {
    right: 36%;
  }

  @media screen and (min-width: 1280px) {
    right: 39.5%;
  }

  &:hover,
  &:focus {
    transform: scale(1.5);
  }

  &:focus-visible {
    outline: 0;
  }
}

.form__btn--icon {
  height: 12px;
  width: 12px;
  height: 100%;
}
